<div class='row text-center'>
	<div class='col-sm-4 col-sm-offset-4'>
		<h1>My Tasks</h1>

		<button ui-sref="add-task" class='btn btn-primary btn-lg' style='margin-bottom:20px;'>Add Task</button>

		<ul class="list-group">
			<li ng-repeat='task in tasks' ng-class="{completed: task.is_completed}" class="list-group-item">

				<input type="checkbox" ng-checked="task.is_completed" ng-change="toggleCompleted(task)" ng-model='task.is_completed'> {{task.title}}

				<span id="myTrash" class="glyphicon glyphicon-trash" ng-click="deleteTask(task.id)"></span>

				<button ng-click="showDesc = !showDesc" style="float: right;"> Show </button>
				<button ui-sref="update-task({taskid: {{task.id}}})" style="float: right;"> Update </button>
				<div class="task-description" ng-show="showDesc"> <small> {{ task.description }} <p>priority: {{ task.priority }}</p> </small> </div>
			</li>
		</ul>
	</div>
</div>