<div class='row text-center'>
	<div class='col-sm-4 col-sm-offset-4'>
		<h1>Update task</h1>
		<input type="text" ng-model="newTask.title" placeholder="title" class='form-control' />
		<textarea name="textarea" class="form-control" rows="5" ng-model="newTask.description" placeholder="description"></textarea>
		<div class="form-group">
            <label for="priority" class="col-sm-1 control-label">Priority:</label>
            <div class="col-sm-12">
                <select class="form-control" id="new-priority" ng-model="newTask.priority">
                    <option value="A">Critical</option>
                    <option value="B">Major</option>
                    <option value="C">Minor</option>
                    <option value="O">Other</option>
                </select>
            </div>
        </div>

		<button class='btn btn-success btn-lg' ng-click="updateTask(newTask)">Update</button>
	</div>
</div>